:root {
	--bg-cyan: #7dffff;
	--bg-light: #fff;
	--text-primary: #8ab4f8;
	--bg-input-search: #94949427;
	--bg-hover: #88888827;
	--bg-dropdown-hover: #8181812d;
	--feedback-heading-clr: #546e7a;
	--borderline-clr: #c5c5c5;
	--bg-hr: #74747483;

	--ff-primary: 'productSans', Roboto, arial, sans-serif;
}
@font-face {
	font-family: productSans;
	src: url(../Assets/Font/Product\ Sans\ Regular.ttf);
}
/* icon & icon hover section  */
.small-icon-size{
	width: calc(var(--size-400) + 4px);
	height: calc(var(--size-400) + 4px);
}
.icon-size {
	width: var(--size-500);
	height: var(--size-500);
}
.icon-size-arrow {
	width: 1.8rem;
	height: 1.8rem;
}
svg,
img {
	pointer-events: auto;
	z-index: var(--index-medium);
}
.svg-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: var(--size-800);
	height: var(--size-800);
}
.svg-container::before {
	content: '';
	position: absolute;
	padding-top: 0;
	width: var(--hover-size, 0);
	height: var(--hover-size, 0);
	border-radius: 50%;
	background-color: var(--bg-hover);
}
.pinSvgContainer {
	float: right;
}
.pinSvgContainer > div {
	z-index: var(--index-medium);
}
@media (hover: hover) and (pointer: fine) {
	.svg-container:hover::before {
		width: var(--size-800);
		height: var(--size-800);
		transition: 0.1s width linear, 0.1s height linear;
	}
	.small-icon-hover:hover::before {
		width: var(--size-700);
		height: var(--size-700);
	}
	.noteSvg-icon-hover:hover::before {
		width: calc(var(--size-600) + var(--size-100));
		height: calc(var(--size-600) + var(--size-100));
	}
}
/* theme section */
.dark {
	--bg-clr: #222222;
	--text-clr: #fff;
	--icon-clr: #ffffffde;
	--list-icon-clr: #98989a;
	--bg-overlap-clr: #202124;
	--sidebar-active-clr: #442f14;
	--bg-button-clr: #9aa0a60a;
}

.light {
	--bg-clr: #fff;
	--text-clr: #000;
	--icon-clr: #5f6368;
	--list-icon-clr: #767676;
	--bg-overlap-clr: #fff;
	--sidebar-active-clr: #fffea7;
	--bg-button-clr: #5f63680a;
}
body {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--bg-clr);
	color: var(--text-clr);
	font-size: var(--fs-500);
	position: relative;
}
::backdrop {
	background-color: var(--bg-clr);
}
.text-primary {
	color: var(--text-primary) !important;
}
input[type='checkbox'] {
	width: var(--size-400);
	height: var(--size-400);
}
@media (max-width: 575.98px) {
	.icon-size {
		width: 1.7rem;
		height: 1.7rem;
		z-index: var(--index-medium);
	}
	.icon-size-arrow {
		width: 2rem;
		height: 2rem;
		z-index: var(--index-medium);
	}
}
