.editLableContainer{
   position: absolute;
	left: calc(50%);
	transform: translateX(-50%);
	top: 15%;
	flex-direction: column;
	padding: var(--size-200) var(--size-400);
	background-color: var(--bg-overlap-clr);
	border-radius: var(--size-200);
	box-shadow: var(--box-shadow);
	z-index: var(--index-high);
}
.editLableInput{
	padding: var(--size-200);
	background-color: transparent;
	color: var(--text-clr);
}
.lables{
	line-height: 1.5;
	padding: var(--size-100);
	justify-content: space-between;
}
.lables svg{
	padding: 3px;
}
.lables:hover{
	background-color: var(--bg-button-clr);
}
