.emailFiledContainer {
	flex-direction: column;
	min-height: 5rem;
	margin-bottom: var(--size-400);
}
.emailFiledChildContainer {
	box-shadow: var(--box-shadow);
	border: 0.1px solid var(--borderline-clr);
	border-radius: var(--size-200);
	max-width: 40rem;
	padding: var(--size-300);
	width: 100%;
}
.emailFiledHeading {
	padding: var(--size-200) 0;
	color: var(--text-clr);
	letter-spacing: 1px;
}
.emailFiledOwner {
	padding: var(--size-200) 0;
	width: 100%;
	overflow: hidden;
}
.emailFiledOwner img,
.emailFiledOwner svg {
	width: var(--size-700);
	height: var(--size-700);
	border: 2px solid var(--bg-clr);
	box-shadow: var(--box-shadow);
	margin: 0 var(--size-200);
	border-radius: 50%;
}
.emailFiledOwner svg {
	padding: var(--size-100);
}
.emailFiledOwner input {
	width: calc( 100% - var(--size-800));
	color: var(--text-clr);
	background-color: var(--bg-clr);
	overflow: auto;
}
.emailFiledNotValid{
 margin-left: var(--size-800);
 color: red;
}
