.inputFieldContainer {
	flex-direction: column;
	min-height: 5rem;
	margin-bottom: var(--size-400);
}
.inputContainer {
	box-shadow: var(--box-shadow);
	border: 0.1px solid var(--borderline-clr);
	border-radius: var(--size-200);
	max-width: 40rem;
	width: 80%;
}
.inputChildContainer {
	overflow-y: visible;
	overflow-x: hidden;
	height: max-content;
	max-height: 20rem;
}
.inputChildContainer > div:nth-child(2) {
	font-size: calc(var(--fs-400) + 1px);
}
.input {
	position: relative;
}
.input > div {
	white-space: pre-line;
	padding: var(--size-300);
	width: 100%;
	min-height: var(--size-800);
	line-height: 1.5;
	border-radius: var(--size-200);
	z-index: var(--index-low);
}
.input > p {
	position: absolute;
	padding: var(--size-300);
	color: var(--icon-clr);
	z-index: var(--index-negative);
	top: 5%;
}
.input > div:not(:empty) {
	height: max-content;
}
.input > div:not(:empty) + p {
	display: none;
}
.inputSvgContainer {
	position: absolute;
	top: 0;
	right: 0;
}
.inputFieldSvgContainer {
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: var(--size-100);
}
.inputFieldSvgContainer ul li:nth-child(7),
.inputFieldSvgContainer ul li:nth-child(8) {
	cursor: not-allowed;
}
.inputFieldSvgContainer ul {
	width: 80%;
}
.inputFieldSvgContainer button {
	margin-left: auto;
	color: var(--text-clr);
	background-color: transparent;
	border-radius: var(--size-100);
	padding: var(--size-200) var(--size-500);
}
.inputFieldSvgContainer button:active,
.inputFieldSvgContainer button:hover {
	background-color: var(--bg-button-clr);
}
@media (max-width: 767.98px) {
	.inputContainer {
		width: 90%;
		max-width: 30rem;
	}
}
@media (max-width: 575.98px) {
	.inputFieldSvgContainer ul {
		width: calc(100% - var(--size-400));
	}
}
@media (max-width: 319.98px) {
	.inputContainer {
		width: 100%;
	}
}
