.container {
	position: relative;
	max-width: 50%;
}
.noteItemContainer {
	border: 1px solid var(--borderline-clr);
	border-radius: var(--size-200);
	overflow-x: auto;
}
.noteItemTitle {
	font-size: calc(var(--fs-400) + 1px);
	line-height: 1.3;
	font-weight: var(--fw-semiBold);
	color: var(--text-clr);
	padding: var(--size-300) var(--size-400) 0px;
}
.noteItemNote {
	line-height: 1.2;
	font-weight: var(--fw-regular);
	color: var(--text-clr);
	padding: var(--size-100) var(--size-400) var(--size-200) var(--size-400);
}
.noteItemOptions {
	position: absolute;
	bottom: var(--size-800);
	left: 10rem;
	padding: var(--size-150) 0;
	border-radius: var(--size-200);
	background-color: var(--bg-overlap-clr);
	box-shadow: var(--box-shadow);
	z-index: var(--index-high);
}
.noteItemOptions li {
	padding: var(--size-150) var(--size-300);
}
@media (hover: hover) {
	.noteItemOptions li:hover {
		background-color: var(--bg-dropdown-hover);
	}
	.noteItemContainer:has(li[data-noteoption]:hover) + .noteItemOptions {
		display: block;
	}
}
.spanContainer{
	width: calc(100% - var(--size-800));
}
.noteItemNote span {
	margin-left: var(--size-100);
}
.noteItemNoteStrikeThrough {
	background: linear-gradient(to right, var(--text-clr), var(--text-clr));
	background-repeat: no-repeat;
	background-position: left 55%;
	transition: background-size 1s linear;
	animation: StrikeThrough 2s linear 1 forwards;
}
.lableContainer {
	position: absolute;
	top: 100%;
	width: min-content;
	padding: var(--size-200) var(--size-100);
	background-color: var(--bg-overlap-clr);
	border-radius: var(--size-200);
	box-shadow: var(--box-shadow);
	z-index: var(--index-high);
}
.lableContainer h2{
	padding:var(--size-100) var(--size-300);
}
.lableItem {
	padding: var(--size-200) var(--size-400);
}
.lableItem span {
	margin-left: var(--size-200);
}
.lableButton {
	width: 100%;
	justify-content: right;
}
.lableButton button {
   margin: var(--size-100);
   color: var(--text-clr);
	background-color: var(--bg-overlap-clr);
	border-radius: var(--size-100);
	padding: var(--size-200) var(--size-500);
}
.lableButton button:hover{
   background-color: var(--bg-button-clr);
}
@keyframes StrikeThrough {
	0% {
		background-size: 0% calc(var(--size-100) / 2);
	}
	100% {
		background-size: 100% calc(var(--size-100) / 2);
	}
}
.noteItemContainer ul li:nth-child(5){
	display: none;
}
@media (max-width: 767.98px) {
	.container {
		width: 90%;
		max-width: 35rem;
	}
}
@media (max-width: 319.98px) {
	.container {
		width: 100%;
	}
}
