.welcomeContainer {
	position: absolute;
	flex-direction: column;
	top: 0;
	width: 100%;
	height: 100%;
	padding: var(--size-200);
	background-color: var(--bg-overlap-clr);
	border-radius: var(--size-200);
	box-shadow: var(--box-shadow);
	z-index: var(--index-highest);
}
.welcomeTyped {
	margin-top: var(--size-200);
}
.welcomeHeading {
	margin-top: var(--size-700);
	font-size: var(--size-600);
}
.welcomeHeading mark {
	background-color: var(--bg-cyan);
	padding: var(--size-100);
	border-radius: var(--size-200);
}
.welcomeImage {
	width: 20rem;
}
.welcomeIllustration {
	flex-wrap: wrap;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.welcomeIllustration li {
	list-style: none;
	padding: var(--size-500);
}
@media (min-width: 575.98px) {
	.welcomeIllustration li {
		padding: 0 var(--size-400);
	}
}
.logoImg {
	width: calc(var(--size-700) - 0.2rem);
	height: var(--size-700);
	margin: var(--size-100);
	cursor: pointer;
}
